<h1>IQRF DPA interface</h1>

<div *ngIf="apiMsg.configDpa === undefined">
  <p> No data loaded...</p>

</div>
<div *ngIf="!(apiMsg.configDpa === undefined) &&  (apiMsg.configDpa.instances.length > 0)">

<p-card subheader="" styleClass="ui-card-shadow">
  <div class="p-grid p-dir-col">

    <div class="p-col">
      <label for="nm">Name of instance</label>
      <input id="nm" type="text" pInputText [(ngModel)]="apiMsg.configDpa.configuration.name">
    </div>
   
    <div class="p-col">
      <label for="prog">DPA Confirmation/Response timeout in milliseconds</label>
      <input id="prog" type="number" pInputText [(ngModel)]="apiMsg.configDpa.instances[0].DpaHandlerTimeout">
    </div>
 
  </div>
  <p-footer>
    <button pButton type="button" label="Save" style="margin-right: .25em"></button>
  </p-footer>
</p-card>
</div>
