<h1>Send DPA packet</h1>
<div class="p-grid">
  <div class="ui-g-12">
    <div class="box">
      <p-card header="IQRF Binary output" styleClass="ui-card-shadow" class="cardOne">
        <div class="ui-g" style="width:100%;margin-bottom:10px">
          <div class="ui-g-12">
            <label for="frm-dpaPacket-dpaPacket">DPA packet</label>
            <input style="width:100%;" id="frm-dpaPacket-dpaPacket" type="string" pInputText [(ngModel)]="dpaPacket"
              value="dpaPacket">
          </div>
          <div class="ui-g-6">
            <p-checkbox binary="true" label="Set own NADR" [(ngModel)]="ownNadr"></p-checkbox>
          </div>
          <div class="ui-g-6">
            <p-checkbox binary="true" label="Set own DPA timeout" [(ngModel)]="ownDpaTimeout"></p-checkbox>
          </div>
          <div class="p-col-12 p-md-6 p-lg-6">
            <label for="frm-dpaPacket-custNadr">Custom NADR</label>
            <input style="width:100%;" id="frm-dpaPacket-custNadr" type="number" size="30" min="0" max="67"
              [disabled]="!ownNadr" pInputText [(ngModel)]="custNadr">
          </div>
          <div class="p-col-12 p-md-6 p-lg-6">
            <label for="frm-dpaPacket-dpaTimeout">DPA timeout (ms)</label>
            <input style="width:100%;" id="frm-dpaPacket-dpaTimeout" type="number" size="30" min="0" max="67"
              [disabled]="!ownDpaTimeout" pInputText [(ngModel)]="dpaTimeout">
          </div>
          <div class="ui-g-12">
            <button pButton type="button" label="Send" style="margin-right: .65em" (click)="OnSend()"></button>
          </div>
        </div>
      </p-card>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="box">
      <p-card header="Macros" styleClass="ui-card-shadow" class="cardOne">
        <div class="ui-g" style="width:100%;margin-bottom:10px">
          <div class="ui-g-12">
            <p-menubar [model]="items"></p-menubar>
          </div>
        </div>
      </p-card>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="p-grid">
      <div class="ui-g-6" *ngIf="msgReq !== undefined">
        <p-card header="Request" styleClass="ui-card-shadow" class="cardOne">
          <span *ngIf="msg === 'waiting'">
            <p-progressSpinner [style]="{width: '100px', height: '100px'}" strokeWidth="3" animationDuration="1.5s">
            </p-progressSpinner>
          </span>
          <span *ngIf="msg !== 'waiting'">
            <label for="orgid">Insert JSON message</label>
            <textarea id="orgid" rows="8" cols="30" pInputTextarea autoResize="true" [(ngModel)]="msgReq"></textarea>
          </span>
        </p-card>
      </div>
      <div class="ui-g-6" *ngIf="msgResp !== undefined">
        <p-card header="Response" styleClass="ui-card-shadow" class="cardOne">
          <span *ngIf="msg === 'waiting'">
            <p-progressSpinner [style]="{width: '100px', height: '100px'}" strokeWidth="3" animationDuration="1.5s">
            </p-progressSpinner>
          </span>
          <span *ngIf="msg !== 'waiting'">
            <label for="orgid">Insert JSON message</label>
            <textarea id="orgid" rows="8" cols="30" pInputTextarea autoResize="true" [(ngModel)]="msgResp"></textarea>
          </span>
        </p-card>
      </div>
    </div>

  </div>

</div>
<p-toast position="top-right"></p-toast>
