<h1>JSON Metadata API</h1>

<div *ngIf="apiMsg.configJsonMetaData === undefined">
  <p> No data loaded...</p>

</div>
<div *ngIf="!(apiMsg.configJsonMetaData === undefined) &&  (apiMsg.configJsonMetaData.instances.length > 0)">

  <p-card subheader="" styleClass="ui-card-shadow">
    <div class="p-grid p-dir-col">

      <div class="p-col">
        <label for="nm">Name of instance</label>
        <input id="nm" type="text" pInputText [(ngModel)]="apiMsg.configJsonMetaData.configuration.name" style="width: 100%;">
      </div>
      <div class="p-col">
        <p-checkbox binary="false" label="Add metadata into the messages"
          [(ngModel)]="apiMsg.configJsonMetaData.instances[0].metaDataToMessages"></p-checkbox>
      </div>
    </div>
    <p-footer>
      <button pButton type="button" label="Save" style="margin-right: .25em"></button>
    </p-footer>
  </p-card>
</div>