
<div class="toplevel">
<div class="p-grid sample-layout">
    <div class="p-col-12 p-md-2">

      <p-toolbar >
        <div class="ui-toolbar-group-left">
            <img src="/assets/themes/logo-big.svg" alt="Girl in a jacket">
        </div>
        
    
    </p-toolbar>      
      
        <p-panelMenu [model]="items" [transitionOptions]="'300ms'" [multiple]="false"></p-panelMenu>
    </div>
    <div class="p-col-12 p-md-10 p-col-nogutter">
        <div class="p-col-12 p-col-nogutter">
            <p-toolbar>
              <!--
                <div class="ui-toolbar-group-left">
                    <img src="/assets/themes/logo-big.svg" alt="Girl in a jacket">
                </div>

              -->
                
                <div class="ui-toolbar-group-right">
                  <!--
                    <button pButton type="button" icon="pi pi-search"></button>
                    <button pButton type="button" icon="pi pi-calendar" class="ui-button-success"></button>
                -->
                    <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
                </div>
            </p-toolbar>
        </div>
        <div class="p-col-12 p-col-nogutter content">
            <router-outlet></router-outlet>   
        </div>
    </div>
    <div class="p-col-12 p-col-nogutter">
      <!--  Footer -->
    </div>
</div>

</div>
<!--
<p-sidebar [(visible)]="display" [style]="{width:'30em'}">
    <p-panelMenu [model]="items" [style]="{'width':'300px'}"></p-panelMenu>
</p-sidebar>

<button type="text" (click)="display = true" pButton icon="pi pi-plus" label="Show"></button>
-->

<!--The content below is only a placeholder and can be replaced.-->
<!--
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p-button label="Click"></p-button>
<p-button icon="pi pi-check" label="Click"></p-button>
<p-button icon="pi pi-check" iconPos="right" label="Click"></p-button>
<p-button icon="pi pi-check"></p-button>
<p-button icon="pi pi-check" [disabled]="true" label="Disabled"></p-button>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
-->