<h1>IQRF SPI interface</h1>
<p-card subheader="" styleClass="ui-card-shadow">
  <div class="p-grid p-dir-col">

    <div class="p-col">
      <label for="nm">Name of instance</label>
      <input id="nm" type="text">
    </div>
    <div class="p-col">
      <label for="spi">IQRF SPI interface</label>
      <input id="spi" type="text" pInputText>
    </div>
    <div class="p-col">
      <label for="gpio">Power enable GPIO pin</label>
      <input id="gpio" type="number" pInputText>
    </div>
    <div class="p-col">
      <label for="spibus">SPI bus enable GPIO pin</label>
      <input id="spibus" type="number" pInputText>
    </div>
    <div class="p-col">
      <label for="prog">Programming mode switch GPIO pin</label>
      <input id="prog" type="number" pInputText>
    </div>
    <div class="p-col">
      <p-checkbox binary="false" label="Enable SPI reset" [(ngModel)]="enableSpiReset"></p-checkbox>
    </div>
  </div>
  <p-footer>
    <button pButton type="button" label="Save" style="margin-right: .25em"></button>
  </p-footer>
</p-card>
<p-card header="Available SPI mappings" subheader="" styleClass="ui-card-shadow">
  <div class="p-grid p-dir-col">

    <div class="p-col">
      <p>Boards</p>
      <button pButton id="boards" type="button" label="Raspberry Pi" class="buttonOne ui-button-secondary"></button>
      <button pButton id="boards" type="button" label="Orange Pi" class="buttonOne ui-button-secondary"></button>
      <button pButton id="boards" type="button" label="UniPi Axon" class="buttonOne ui-button-secondary"></button>
      <button pButton id="boards" type="button" label="UP" class="buttonOne ui-button-secondary"></button>
      <button pButton id="boards" type="button" label="UP Squared" class="buttonOne ui-button-secondary"></button>
    </div>
    <div class="p-col">
      <p>Interfaces</p>
      <button pButton id="boards" type="button" label="/dev/spidev" class="buttonOne ui-button-secondary"></button>

      
    </div>
    
  </div>

</p-card>